<h2>Order of the Phoenix Members: <%= @house %></h2>
<p> <%= @members.count %> members</p>

<% @members.each do |member| %>
  <div class='member-details' id="member-<%= member.id %>">
    <h4 class='name'><%= member.name %></h4>
    <ul>
      <li class='house'>House: <%= member.house %></li>

      <% if member.role %>
        <li class='role'>Role: <%= member.role %></li>
      <% else %>
        <li class='role'><em>Role: none listed!</em></li>
      <% end %>

      <% if member.patronus %>
        <li class='patronus'>Role: <%= member.patronus %></li>
      <% else %>
        <li class='patronus'><em>Patronus: none listed!</em></li>
      <% end %>
    </ul>
  </div>
<% end %>
